<header  class="page-header">
    <div class="container">
    <div class="page-header-wrapper-tablet">
        <a class="page-header-logo-link">
            <img src="./images/logo.png" alt="Logo" class="page-header-logo" width="199" height="50">
           </a>
        <button type="button" aria-expanded="false" aria-controls="menu-wrapper" class="menu-btn close" data-menu-button>
            <svg width="24" height="16">
                <use href="./images/sprite.svg#icon-close" class="icon-close"></use>
                <use href="./images/sprite.svg#icon-burger" class="icon-burger"></use>
            </svg>
        </button>
    <div class="page-header-desk-wrapper">
        <nav class="navigation-desk">
            <ul class="navigation-list-desk">
                <li class="navigation-list-item-desk">
                    <a class="navigation-list-item-link-desk" href="">Home</a>
                </li>
                <li class="navigation-list-item-desk">
                    <a class="navigation-list-item-link-desk" href="">About us</a>
                </li>
                <li class="navigation-list-item-desk">
                    <a class="navigation-list-item-link-desk" href="">How it’s made?</a>
                </li>
                <li class="navigation-list-item-desk">
                    <a class="navigation-list-item-link-desk" href="">Our products</a>
                </li>
                <li class="navigation-list-item-desk">
                    <a class="navigation-list-item-link-desk" href="">Contact</a>
                </li>
            </ul>
        </nav>
        <button data-modal-open type="button" class="page-header-order-btn">Buy now</button>
    </div>
        <div class="menu-wrapper" data-menu>
            <button data-modal-open-mob type="button" class="order-btn">Buy now</button>
       <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation-list-item">
                <a class="navigation-list-item-link" href="">Home</a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-link" href="">About us</a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-link" href="">How it’s made?</a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-link" href="">Our products</a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-link" href="">Contact</a>
            </li>
        </ul>
    </nav>
</div>
</div>
</div>
<div data-modal class="backdrop is-hidden">
    <form action="#" class="modal-form">
        <h2 class="modal-form-title">Форма заказа</h2>
        <button data-modal-close type="button" class="modal-form-close-btn">
            <svg class="modal-form-close-btn-icon" width="11" height="11"> 
                <use href="./images/sprite.svg#icon-close-btn"></use>
            </svg>  
        </button>
        <div class="modal-form-field">
            <input type="text" name="user-name" class="modal-form-input" id="user-name" placeholder=" " required>
            <label for="user-name" class="modal-form-label">Имя</label>
            <svg class="modal-form-icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-user-name"></use>
            </svg>
        </div>
        <div class="modal-form-field">   
            <input type="tel" name="user-phone" class="modal-form-input" id="user-phone" placeholder=" " required>
            <label for="user-phone" class="modal-form-label">Телефон</label>
            <svg class="modal-form-icon" width="13" height="13"> 
                <use href="./images/sprite.svg#icon-user-pnone"></use>
            </svg>
        </div>
        <div class="modal-form-field"> 
            <input type="email" name="user-email" class="modal-form-input" id="user-email" placeholder=" " required>
            <label for="user-email" class="modal-form-label">Почта</label>
            <svg class="modal-form-icon" width="15" height="12"> 
                <use href="./images/sprite.svg#icon-user-mail"></use>
            </svg>
        </div>
        <textarea name="usesr-comment" placeholder="Комментарий и детали заказа" class="modal-form-comment" required></textarea>
        <button data-modal-close type="submit" class="modal-form-btn modal-btn" >Отправить</button>
    </form>
</div> 
</header>
