<!--секция ревью-->
<section class="reviews">
  <div class="reviews-section container">
    <h2 class="reviews-title">Rewiew</h2>
    <div class="reviews-home-picture">
      <picture class="reviews-home-picture">
        <source srcset="./images/mobile/reviews-section/mobile@1x.png 1x" media="(max-width: 767px)" />
        <source srcset="./images/tablet/reviews-section/tablet-reviews@1x.png 1x" media="(max-width: 1199px)" />
        <source srcset="./images/desktop/reviews-section/desk@1x.png 1x" media="(min-width: 1200px)" />
        <img src="./images/mobile/reviews-section/mobile@1x.png" alt="Фото продуктов компании" class="img-home" />
      </picture>
    </div>

   <p class="name-sity">Emily, Los Angeles</p>
          
  
</section>
