<!--секция ревью-->
<section class="reviews">
  <div class="reviews-section container">
    <h2 class="reviews-title">Rewiew</h2>
    <div class="reviews-home-picture">
      <picture class="reviews-home-picture">
        <!-- <source srcset="./images/mobile/reviews-section/home-pic-mob@1x.png 1x, ./images/mobile/reviews-section/home-pic-mob@2x.png 2x" media="(max-width: 767px)" />
        <source srcset="./images/tablet/reviews-section/home-pic-tab@1x.png 1x, ./images/tablet/reviews-section/home-pic-tab@2x.png 2x" media="(max-width: 1199px)" />
        <source srcset="./images/desktop/reviews-section/home-pic-desc@1x.png 1x, ./images/desktop/reviews-section/home-pic-desc@2x.png 2x" media="(min-width: 1200px)" /> -->
        <img src="./images/mobile/reviews-section/home-pic-mob@1x.png" alt="Фото продуктов компании" class="img-home" />
      </picture>
    </div>
    <div class="review-testimonials-picture">
      <ul>
        <!-- emily -->
        <li class="emily">
          <picture>
            <source
              srcset="./images/mobile/reviews-section/testimonials-mob@1x.jpg 1x, ./images/mobile/reviews-section/testimonials-mob@2x.jpg 2x"
              media="(max-width: 767px)" />
            <source
              srcset="./images/tablet/reviews-section/testimonials-tab@1x.jpg 1x, ./images/tablet/reviews-section/testimonials-tab@2x.jpg 2x"
              media="(max-width:1199px)" />
            <source
              srcset="./images/desktop/reviews-section/testimonials-desc@1x.jpg 1x, ./images/desktop/reviews-section/testimonials-desc@2x.jpg 2x"
              media="(min-width:1200px)" />
            <img src="./images/mobile/reviews-section/testimonials-mob@1x.jpg" alt="Фото девушки в восторге от продукции"
              class="" />
          </picture>
          </div>
          
          <div class="review-div-text">
            
            <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
          <div style="text-align: center">
            <span class="circle" onclick="currentSlide(1)"></span>
            <span class="circle" onclick="currentSlide(2)"></span>
            <span class="circle" onclick="currentSlide(3)"></span>
          </div>
          <p class="name-sity">Emily, Los Angeles</p>
          <div class="review-div-icons">
          <svg class="review-icons">
            <use href="./images/symbol-defs-znachki.svg#icon-znak-dom"></use>
          </svg>
          <svg class="review-icons">
            <use href="./images/symbol-defs-znachki.svg#icon-ellipse"></use>
          </svg>
          <svg class="review-icons">
            <use href="./images/symbol-defs-znachki.svg#icon-ellipse"></use>
          </svg>
          </div>

        </li>
        <!-- monika -->
        <!-- <li class="monika">
          <picture>
         <source
            srcset="./images/desktop/reviews-section/monika@1x.jpg 1x, ./images/desktop/reviews-section/monika@2x.jpg 2x"
            media="(max-width:1199px)" />
          <img src="./images/mobile/reviews-section/monika@1x.jpg" alt="Фото девушки в восторге от продукции"
            class="photo-list-item-image" />
        </picture>
        </div>
        
        <div class="review-div-text">
          <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div style="text-align: center">
          <span class="circle" onclick="currentSlide(1)"></span>
          <span class="circle" onclick="currentSlide(2)"></span>
          <span class="circle" onclick="currentSlide(3)"></span>
        </div>
        <p class="name-sity">Monika, New York</p>
       </li> -->
       <!-- angelika -->
        <!-- <li class="angelika">
          <picture>
          <source
            srcset="./images/desktop/reviews-section/anjelika@1x.jpg 1x, ./images/desktop/reviews-section/anjelika@2x.jpg 2x"
            media="(max-width:1199px)" />
          <img src="./images/mobile/reviews-section/anjelika@1x.jpg" alt="Фото девушки в восторге от продукции"
            class="photo-list-item-image" />
        </picture>
        </div>
        
        <div class="review-div-text">
          <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div style="text-align: center">
          <span class="circle" onclick="currentSlide(1)"></span>
          <span class="circle" onclick="currentSlide(2)"></span>
          <span class="circle" onclick="currentSlide(3)"></span>
        </div>
        <p class="name-sity">Angelika, Los Angeles</p>
      </li> -->
      </ul>
      
  </div>
</section>
