.container {
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
    @media screen and (min-width: 768px) {
      padding-left: 34px;
      padding-right: 34px;
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 20px;
      padding-right: 20px;
      width: 1280px;
      margin: 0 auto;
    }
  }
  