.reviews {
  position: relative;
  padding-top: 628px;
  padding-bottom: 212px;
  background-color: #ffffff;
  background-size: 100%;
  display: block;
  width: 100%;
}
.reviews-title {
  opacity: 0;
}
.reviews-home-picture {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.name-sity {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  color: #000000;
}
